target/META-INF/mule-src/starter-project/src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="starter-project-api-main" doc:id="25218e5d-3113-4813-a30f-61d01753942d" >
		<http:listener doc:name="/api/v1/*" doc:id="82a4027a-cb00-48f0-b6e1-c65fe2893f70" config-ref="starter-project-api-httpListenerConfig" path="/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<set-variable value="#[import substringAfter, substringBefore from dw::core::Strings&#10;&#10;// Parse URI&#10;var removeBasePathAndQP = substringAfter(attributes.requestUri, p('application.base-path'))&#10;       then (&#10;        if ($ contains &quot;?&quot;) substringBefore($, &quot;?&quot;)&#10;        else $&#10;       )&#10;var requestName = &quot;$(attributes.method) $(removeBasePathAndQP)&quot;&#10;&#10;output application/json&#10;---&#10;{&#10; correlationId: attributes.headers.'x-root-correlation-id' default correlationId,&#10; flowId: uuid(),&#10; startStep: &quot;Start $(requestName) flow&quot;,&#10; endStep: &quot;Operation on $(requestName) completed successfully&quot;,&#10; endpoint: removeBasePathAndQP&#10;}]" doc:name="[metadata]" doc:id="e9aff2ff-7990-4159-84c1-c9e4c58b9b9e" variableName="metadata"/>
		<logger level="INFO" doc:name="Start" doc:id="362b27f3-416c-4719-a476-77c47c56e6d2" message="#[%dw 2.0&#10;var params = attributes.queryParams ++ attributes.uriParams&#10;output application/json&#10;---&#10;{&#10;    step: vars.metadata.startStep,&#10;    data: {&#10;        business: params ++ {},&#10;        technical: {&#10;            flowId: vars.metadata.flowId,&#10;            correlationId: vars.metadata.correlationId&#10;        }&#10;    }&#10;}]" category="${app.name}"/>
		<choice doc:name="Choice" doc:id="be0be594-0214-413a-b8f5-1aebd0ba74ad" >
			<when expression='#[vars.metadata.endpoint == "/heartbeat"]'>
				<ee:transform doc:name="Heartbeat" doc:id="76f1154f-dca0-4cab-b4ba-ccc5cfc57ea6" >
					<ee:message >
						<ee:set-payload resource="modules/Heartbeat.dwl" />
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<apikit:router doc:name="APIkit Router" doc:id="657fbe94-6722-4f7d-931c-0c1ca6155802" config-ref="starter-project-api-config" />
				<ee:transform doc:name="StandardResponse" doc:id="28b7f243-ffba-4725-9637-b63af32d1b84" >
					<ee:message >
						<ee:set-payload resource="modules/StandardResponse.dwl" />
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End" doc:id="11455ec0-6264-4825-9ad2-7512e8a87761" category="${app.name}" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    step: vars.metadata.endStep,&#10;    data: {&#10;        business: {},&#10;        technical: payload - "data"&#10;    }&#10;}]'/>
	</flow>
	<flow name="METHOD:\ENDPOINT(URI):starter-project-api-config" doc:id="2ae338f1-4a35-4697-b383-28369bced403" >
		<logger level="INFO" doc:name="Logger" doc:id="e9f7dc2c-437d-4493-9a6d-4b01b3645b52" />
	</flow>
</mule>
